{% extends 'base.html.twig' %}

{% block title %}Bataille{% endblock %}

{% block body %}
<h1>Bataille</h1>
<div class="battle-page">
  <div class="team-avatars">
    {# --- Equipe 1 --- #}
    {% set my = my_team is iterable ? my_team : [] %}
    {% set tankIndex = 0 %}
    {% set healIndex = 0 %}
    {% set dpsIndex = 0 %}
    {% for character in my %}
      {% set roleClass = '' %}
      {% set offsetClass = '' %}
      {% if character.role == 'tank' %}
        {% set tankIndex = tankIndex + 1 %}
        {% set roleClass = 'team1-1' %}
        {% if tankIndex > 1 %}{% set offsetClass = 'offset-' ~ (tankIndex - 1) %}{% endif %}
      {% elseif character.role == 'heal' %}
        {% set healIndex = healIndex + 1 %}
        {% set roleClass = 'team1-2' %}
        {% if healIndex > 1 %}{% set offsetClass = 'offset-' ~ (healIndex - 1) %}{% endif %}
      {% elseif character.role == 'dps' %}
        {% set dpsIndex = dpsIndex + 1 %}
        {% set roleClass = 'team1-3' %}
        {% if dpsIndex > 1 %}{% set offsetClass = 'offset-' ~ (dpsIndex - 1) %}{% endif %}
      {% endif %}
      <img class="avatar {{ roleClass }} {{ offsetClass }}" src="{{ asset('uploads/images/' ~ character.imageName) }}" alt="{{ character.name }}">
    {% endfor %}

    {# --- Equipe 2 --- #}
    {% set tankIndex2 = 0 %}
    {% set healIndex2 = 0 %}
    {% set dpsIndex2 = 0 %}
    {% set opp = opponent_team is iterable ? opponent_team : [] %}
    {% for character in opp %}
      {% set roleClass = '' %}
      {% set offsetClass = '' %}
      {% if character.role == 'tank' %}
        {% set tankIndex2 = tankIndex2 + 1 %}
        {% set roleClass = 'team2-1' %}
        {% if tankIndex2 > 1 %}{% set offsetClass = 'offset-' ~ (tankIndex2 - 1) %}{% endif %}
      {% elseif character.role == 'heal' %}
        {% set healIndex2 = healIndex2 + 1 %}
        {% set roleClass = 'team2-2' %}
        {% if healIndex2 > 1 %}{% set offsetClass = 'offset-' ~ (healIndex2 - 1) %}{% endif %}
      {% elseif character.role == 'dps' %}
        {% set dpsIndex2 = dpsIndex2 + 1 %}
        {% set roleClass = 'team2-4' %}
        {% if dpsIndex2 > 1 %}{% set offsetClass = 'offset-' ~ (dpsIndex2 - 1) %}{% endif %}
      {% endif %}
      <img class="avatar {{ roleClass }} {{ offsetClass }}" src="{{ asset('uploads/images/' ~ character.imageName) }}" alt="{{ character.name }}">
    {% endfor %}
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-12">
    <h3>Journal du combat</h3>
    <div style="border:1px solid #ccc; border-radius:8px; background:#fafafa; padding:1em; max-height:300px; overflow:auto;">
      {% if events is defined and events|length %}
        {% for line in events %}
          <div>{{ line }}</div>
        {% endfor %}
      {% else %}
        <div>Aucun événement pour l'instant.</div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
