{% extends 'base.html.twig' %}

{% block title %}Contact - Warrior Arena Tavern{% endblock %}

{% block body %}
<img src="{{ asset('bottom.png') }}" alt="Décoration" class="form-page-decoration">
<div class="form-page">
    <h1 class="form-page-title">Contactez-nous</h1>

    <div class="contact-wrapper">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    
    {{ form_start(contactForm) }}
        <div class="form-group">
            {{ form_label(contactForm.nom) }}
            {{ form_widget(contactForm.nom) }}
            {{ form_errors(contactForm.nom) }}
        </div>
        
        <div class="form-group">
            {{ form_label(contactForm.email) }}
            {{ form_widget(contactForm.email) }}
            {{ form_errors(contactForm.email) }}
        </div>
        
        <div class="form-group">
            {{ form_label(contactForm.objet) }}
            {{ form_widget(contactForm.objet) }}
            {{ form_errors(contactForm.objet) }}
        </div>
        
        <div class="form-group">
            {{ form_label(contactForm.message) }}
            {{ form_widget(contactForm.message) }}
            {{ form_errors(contactForm.message) }}
        </div>
        
        <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(contactForm) }}
</div>
</div>
{% endblock %}
